<div class = "jumbotron bg-white text-center">
    <h1 class="display-4">
        Covid Tracker
    </h1>

    
    <div class="row">
        <div class="col">
            <div class="card text-white bg-danger  mb-3">
                <div  class="card-header">Confirm</div>
                <div class="card-body">
                  <h1 class="card-title">{{cases}}</h1>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Active</div>
                <div class="card-body">
                  <h1 class="card-title">{{active}}</h1>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-white bg-success  mb-3">
                <div class="card-header">Recovered</div>
                <div class="card-body">
                  <h1 class="card-title">{{recovered}}</h1>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Death</div>
                <div class="card-body">
                  <h1 class="card-title">{{deaths}}</h1>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
              </div>
          </div>
      </div>
</div>

<div class="row" *ngIf="ready">
  <!-- <div class="col-lg">
   <google-chart [data]="pieChart"></google-chart>
  </div> -->
  <div class="col-lg">
    <h3>Top 10 Countries bar chart</h3>
    <div style="display: block;">
      <canvas baseChart style="min-height: 25rem;"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    
  </div>
  <div class="col-lg">
    <h3>Top 10 Countries Pie chart</h3>
  <div style="display: block;">
    <canvas baseChart  style="min-height: 25rem;"
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>
  </div>
</div>






 

