/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Montserrat';
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}
body{
    background-color: var(--bg);
    
}
